* {
    margin: 0;
    padding: 0;
    font-family: Calibri;
    color: #fff;
}

html {
    background-color: #222;
}

:root {
    --color_1: #5f0f40;
    --color_2: #9a031e;
    --color_3: #fb8b24;
    --color_4: #e36414;
    --color_5: #0f4c5c;
    --gradient_pos: 0 0;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block_wrapper {
    aspect-ratio: 1.618;
    width: 85%;
    background-color: #333;
    display: flex
}

.block {
    width: 20%;
    box-sizing: border-box;
    transition: width cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
}

.block:hover::after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    pointer-events: none;
    user-select: none;
    background: radial-gradient(circle at var(--gradient_pos), rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0) 5rem);
}

.block:hover { 
    width: 30%;
}

.block_1 { background-color: var(--color_1); }
.block_2 { background-color: var(--color_2); }
.block_3 { background-color: var(--color_3); }
.block_4 { background-color: var(--color_4); }
.block_5 { background-color: var(--color_5); }